<div class="container">
  <ng-container *ngIf="passwordStatus===type.Empty">
    <div class="container__status container__status--empty fa-font-case">please fill in all fields</div>
  </ng-container>

  <ng-container *ngIf="passwordStatus===type.Short">
    <div
      class="container__status container__status--empty fa-font-case"
      style="background-color: #ef4545;"
    >password must contain more then 8 characters</div>
  </ng-container>

  <ng-container *ngIf="passwordStatus===type.Easy">
    <div
      class="container__status fa-font-case"
      style="background-color: #ef4545;"
    >easy</div>
    <div class="container__status fa-font-case"></div>
    <div class="container__status fa-font-case"></div>
  </ng-container>

  <ng-container *ngIf="passwordStatus===type.Medium">
    <div
      class="container__status container__status--medium fa-font-case"
      style="background-color: #dcee55;"
    ><br></div>

    <div
      class="container__status fa-font-case"
      style="background-color: #dcee55;"
    >medium</div>

    <div class="container__status fa-font-case"></div>
  </ng-container>

  <ng-container *ngIf="passwordStatus===type.Strong">
    <div class="container__status container__status--strong fa-font-case"><br></div>
    <div class="container__status container__status--strong fa-font-case">Password is strong</div>
    <div class="container__status container__status--strong fa-font-case"><br></div>
  </ng-container>
</div>