<form class='form'>
  <div class="flex-row">
    <label class="form--label" for="username">
      <fa-icon [icon]="faUser"></fa-icon>
    </label>
    <input
      id="username"
      class='form__input'
      placeholder='Username'
      type='text'
      #userName
      [ngClass]="{'form__input--alert' : nameError}"
      required
    >
  </div>

  <div class="flex-row">
    <label class="form--label" for="password">
      <fa-icon [icon]="faLock"></fa-icon>
    </label>
    <input
      id="password"
      class='form__input'
      placeholder='Password'
      type='password'
      #pass
      (keyup)="changePassStrength(pass.value)"
      required
    >
  </div>

  <app-strength-status [passwordStatus]="passwordStatus"></app-strength-status>

  <button
    class='form--submit'
    (click)="submitForm(pass.value)"
  >
    Sign-in
  </button>
</form>
